<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean">
            <name>ramdom_text</name>
            <label>Random text</label>
            <label lang="de">Zufälliger Text</label>
            <value>Hello word</value>
            <description>Hier kannst du einen zufälligen angeben</description>
        </element>
    </elements>

</config>